# Churn case. Part 1.

In [8]:
import pandas as pd

## Reading all CSV files with Pandas

In [9]:
customer = pd.read_csv("customer.csv")
customer.head()

   CustomerID  Gender SeniorCitizen Partner Dependents
0  3668-QPYBK    Male            No      No         No
1  9237-HQITU  Female            No      No        Yes
2  9305-CDSKC  Female            No      No        Yes
3  7892-POOKP  Female            No     Yes        Yes
4  0280-XJGEX    Male            No      No        Yes

In [10]:
cust_loc = pd.read_csv("cust_loc.csv")
cust_loc.head()

      Cust_ID       State   Latitude   Longitude  ZipCode
0  3668-QPYBK  California  33.964131 -118.272783    90003
1  9237-HQITU  California  34.059281 -118.307420    90005
2  9305-CDSKC  California  34.048013 -118.293953    90006
3  7892-POOKP  California  34.062125 -118.315709    90010
4  0280-XJGEX  California  34.039224 -118.266293    90015

In [11]:
cust_services = pd.read_csv("cust_services.csv")
cust_services.head()

,Cust_ID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,3668-QPYBK,Yes,No,DSL,Yes,Yes,No,No,No,No
1,9237-HQITU,Yes,No,Fiber optic,No,No,No,No,No,No
2,9305-CDSKC,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes
3,7892-POOKP,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes
4,0280-XJGEX,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes

In [12]:
cust_account = pd.read_csv("cust_account.csv")
cust_account.head()

,Account_id,Tenure,Contract,PaymentMethod,PaperlessBilling,MonthlyCharges,TotalCharges
0,3668-QPYBK,2,Month-to-month,Mailed check,Yes,53.85,108.15
1,9237-HQITU,2,Month-to-month,Electronic check,Yes,70.70,151.65
2,9305-CDSKC,8,Month-to-month,Electronic check,Yes,99.65,820.5
3,7892-POOKP,28,Month-to-month,Electronic check,Yes,104.80,3046.05
4,0280-XJGEX,49,Month-to-month,Bank transfer (automatic),Yes,103.70,5036.3

In [13]:
cust_account.dtypes

Account_id           object
Tenure                int64
Contract             object
PaymentMethod        object
PaperlessBilling     object
MonthlyCharges      float64
TotalCharges         object
dtype: object

In [14]:
cust_churn = pd.read_csv("cust_churn.csv")
cust_churn.head()

           Id Churn
0  3668-QPYBK   Yes
1  9237-HQITU   Yes
2  9305-CDSKC   Yes
3  7892-POOKP   Yes
4  0280-XJGEX   Yes

## Create database and tables

In [15]:
import sqlite3

In [16]:
conn = sqlite3.connect("churn.db")
cur = conn.cursor()

In [17]:
# Create customer table
customer.to_sql("customer", conn, if_exists="replace", index=False)

In [18]:
# Create customer location table
cust_loc.to_sql("cust_loc", conn, if_exists="replace", index=False)

In [19]:
# Create customer services table
cust_services.to_sql("cust_services", conn, if_exists="replace", index=False)

In [20]:
# Create customer accountcust_account table
cust_account.to_sql("cust_account", conn, if_exists="replace", index=False)

In [21]:
# Create customer churn table
cust_churn.to_sql("cust_churn", conn, if_exists="replace", index=False)

##Â Information about our tables

In [22]:
def table_info(conn,cursor):
    """
    prints out all of the columns of every table in the DB
    
    conn: database connection object
    cursor: cursor object
    """
    
    tables = cur.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    for table_name in tables:
        table_name = table_name[0]
        table = pd.read_sql_query("SELECT * from {} LIMIT 0".format(table_name), conn)
        print(table_name)
        for col in table.columns:
            print("\t "+ col)
            print()

In [23]:
table_info(conn,cur)

customer
	 CustomerID

	 Gender

	 SeniorCitizen

	 Partner

	 Dependents

cust_loc
	 Cust_ID

	 State

	 Latitude

	 Longitude

	 ZipCode

cust_services
	 Cust_ID

	 PhoneService

	 MultipleLines

	 InternetService

	 OnlineSecurity

	 OnlineBackup

	 DeviceProtection

	 TechSupport

	 StreamingTV

	 StreamingMovies

cust_account
	 Account_id

	 Tenure

	 Contract

	 PaymentMethod

	 PaperlessBilling

	 MonthlyCharges

	 TotalCharges

cust_churn
	 Id

	 Churn

## Join all tables

In [24]:
cur.execute(
"""
ALTER TABLE cust_loc
RENAME COLUMN Cust_ID TO CustomerID;
""")

In [25]:
table_info(conn,cur)

customer
	 CustomerID

	 Gender

	 SeniorCitizen

	 Partner

	 Dependents

cust_loc
	 CustomerID

	 State

	 Latitude

	 Longitude

	 ZipCode

cust_services
	 Cust_ID

	 PhoneService

	 MultipleLines

	 InternetService

	 OnlineSecurity

	 OnlineBackup

	 DeviceProtection

	 TechSupport

	 StreamingTV

	 StreamingMovies

cust_account
	 Account_id

	 Tenure

	 Contract

	 PaymentMethod

	 PaperlessBilling

	 MonthlyCharges

	 TotalCharges

cust_churn
	 Id

	 Churn

In [26]:
cur.execute(
"""
SELECT 
*
FROM customer
INNER JOIN cust_loc
USING (CustomerID)
""")
cur.fetchone()

('3668-QPYBK',
 'Male',
 'No',
 'No',
 'No',
 'California',
 33.964131,
 -118.272783,
 90003)

In [27]:
cust_loc = cust_loc.rename(columns={"Cust_ID": "CustomerID"})

In [28]:
cust_loc.head()

   CustomerID       State   Latitude   Longitude  ZipCode
0  3668-QPYBK  California  33.964131 -118.272783    90003
1  9237-HQITU  California  34.059281 -118.307420    90005
2  9305-CDSKC  California  34.048013 -118.293953    90006
3  7892-POOKP  California  34.062125 -118.315709    90010
4  0280-XJGEX  California  34.039224 -118.266293    90015

In [29]:
pd.concat([customer,cust_loc], join="inner", axis=1)

,CustomerID,Gender,SeniorCitizen,Partner,Dependents,CustomerID,State,Latitude,Longitude,ZipCode
0,3668-QPYBK,Male,No,No,No,3668-QPYBK,California,33.964131,-118.272783,90003
1,9237-HQITU,Female,No,No,Yes,9237-HQITU,California,34.059281,-118.307420,90005
2,9305-CDSKC,Female,No,No,Yes,9305-CDSKC,California,34.048013,-118.293953,90006
3,7892-POOKP,Female,No,Yes,Yes,7892-POOKP,California,34.062125,-118.315709,90010
4,0280-XJGEX,Male,No,No,Yes,0280-XJGEX,California,34.039224,-118.266293,90015
5,4190-MFLUW,Female,No,Yes,No,4190-MFLUW,California,34.066367,-118.309868,90020
6,8779-QRDMV,Male,Yes,No,No,8779-QRDMV,California,34.023810,-118.156582,90022
7,1066-JKSGK,Male,No,No,No,1066-JKSGK,California,34.066303,-118.435479,90024
8,6467-CHFZW,Male,No,Yes,Yes,6467-CHFZW,California,34.099869,-118.326843,90028
9,8665-UTDHZ,Male,No,Yes,No,8665-UTDHZ,California,34.089953,-118.294824,90029
10,8773-HHUOZ,Female,No,No,No,8773-HHUOZ,California,34.078821,-118.177576,90032
11,6047-YHPVI,Male,No,No,Yes,6047-YHPVI,California,34.110845,-118.259595,90039
12,5380-WJKOV,Male,No,No,Yes,5380-WJKOV,California,34.137412,-118.207607,90041
13,8168-UQWWF,Female,No,No,Yes,8168-UQWWF,California,34.115720,-118.192754,90042
14,7760-OYPDY,Female,No,No,Yes,7760-OYPDY,California,33.987945,-118.370442,90056
15,9420-LOJKX,Female,No,No,Yes,9420-LOJKX,California,33.921280,-118.274186,90061
16,7495-OOKFY,Female,Yes,Yes,Yes,7495-OOKFY,California,34.044271,-118.185237,90063
17,1658-BYGOY,Male,Yes,No,Yes,1658-BYGOY,California,34.108833,-118.229715,90065
18,5698-BQJOH,Female,No,No,Yes,5698-BQJOH,California,34.063947,-118.383001,90211
19,5919-TMRGD,Female,No,No,Yes,5919-TMRGD,California,33.978030,-118.217141,90255
20,9191-MYQKX,Female,No,Yes,Yes,9191-MYQKX,California,33.923573,-118.200669,90262
21,8637-XJIVR,Female,No,No,Yes,8637-XJIVR,California,33.977468,-118.445475,90292
22,0278-YXOOG,Male,No,No,No,0278-YXOOG,California,33.956445,-118.358634,90301
23,4598-XLKNJ,Female,Yes,Yes,Yes,4598-XLKNJ,California,33.936291,-118.332639,90303
24,3192-NQECA,Male,No,Yes,No,3192-NQECA,California,34.031529,-118.491156,90403
25,0486-HECZI,Male,No,Yes,Yes,0486-HECZI,California,33.867257,-118.330794,90504
26,4846-WHAFZ,Female,Yes,Yes,Yes,4846-WHAFZ,California,33.972119,-118.020188,90602
27,5299-RULOA,Female,No,Yes,Yes,5299-RULOA,California,33.976678,-118.065875,90606
28,0404-SWRVG,Male,No,No,Yes,0404-SWRVG,California,33.940619,-117.951300,90631
29,4412-YLTKF,Female,Yes,No,Yes,4412-YLTKF,California,33.989524,-118.089299,90660
...,...,...,...,...,...,...,...,...,...,...
7013,9586-JGQKH,Female,No,Yes,No,9586-JGQKH,California,33.829583,-116.474131,92234
7014,4501-VCPFK,Male,No,No,No,4501-VCPFK,California,33.680031,-116.171678,92236
7015,6075-SLNIL,Male,No,No,No,6075-SLNIL,California,33.889605,-115.257009,92239
7016,9347-AERRL,Male,No,Yes,No,9347-AERRL,California,33.948558,-116.516976,92240
7017,2274-XUATA,Male,Yes,Yes,No,2274-XUATA,California,34.137742,-114.365140,92242
7018,6691-CCIHA,Female,No,Yes,No,6691-CCIHA,California,34.167236,-116.281511,92252
7019,1685-BQULA,Female,No,No,No,1685-BQULA,California,33.695532,-116.310571,92253
7020,9053-EJUNL,Male,No,No,No,9053-EJUNL,California,33.543835,-115.993906,92254
7021,0666-UXTJO,Male,Yes,Yes,No,0666-UXTJO,California,34.097863,-116.594561,92256
7022,1471-GIQKQ,Female,No,No,No,1471-GIQKQ,California,33.345825,-115.596574,92257
7023,4807-IZYOZ,Female,No,No,No,4807-IZYOZ,California,33.906496,-116.569499,92258
7024,9710-NJERN,Female,No,No,No,9710-NJERN,California,33.694501,-116.412711,92260
7025,9837-FWLCH,Male,No,Yes,Yes,9837-FWLCH,California,33.839989,-116.659215,92262
7026,7203-OYKCT,Male,No,No,No,7203-OYKCT,California,33.324900,-114.758334,92266
7027,1035-IPQPU,Female,Yes,Yes,No,1035-IPQPU,California,34.273872,-114.192901,92267
7028,7398-LXGYX,Male,No,Yes,No,7398-LXGYX,California,34.201108,-116.593456,92268
7029,2823-LKABH,Female,No,No,No,2823-LKABH,California,33.763678,-116.429928,92270
7030,0550-DCXLH,Male,No,No,No,0550-DCXLH,California,33.536040,-116.119222,92274
7031,9281-CEDRU,Female,No,Yes,No,9281-CEDRU,California,33.281560,-115.955541,92275
7032,2235-DWLJU,Female,Yes,No,No,2235-DWLJU,California,33.849263,-116.382778,92276
7033,0871-OPBXW,Female,No,No,No,0871-OPBXW,California,34.172110,-115.769773,92277
7034,3605-JISKB,Male,Yes,Yes,No,3605-JISKB,California,34.457829,-116.139589,92278
7035,9767-FFLEM,Male,No,No,No,9767-FFLEM,California,33.036790,-115.605030,92281
7036,8456-QDAVC,Male,No,No,No,8456-QDAVC,California,32.852947,-114.850784,92283
7037,7750-EYXWZ,Female,No,No,No,7750-EYXWZ,California,34.159534,-116.425984,92284
7038,2569-WGERO,Female,No,No,No,2569-WGERO,California,34.341737,-116.539416,92285
7039,6840-RESVB,Male,No,Yes,Yes,6840-RESVB,California,34.667815,-117.536183,92301
7040,2234-XADUH,Female,No,Yes,Yes,2234-XADUH,California,34.559882,-115.637164,92304
7041,4801-JZAZL,Female,No,Yes,Yes,4801-JZAZL,California,34.167800,-116.864330,92305
7042,3186-AJIEK,Male,No,No,No,3186-AJIEK,California,34.424926,-117.184503,92308

In [30]:
# Rename remaining columns from tables
cust_services = cust_services.rename(columns={"Cust_ID": "CustomerID"})
cust_account = cust_account.rename(columns={"Account_id": "CustomerID"})
cust_churn = cust_churn.rename(columns={"Id": "CustomerID"})

In [31]:
dfs_to_join = [customer, cust_loc, cust_services, cust_account, cust_churn]

In [33]:
customer.loc[customer["Gender"] == "Male",]

      CustomerID Gender SeniorCitizen Partner Dependents
0     3668-QPYBK   Male            No      No         No
4     0280-XJGEX   Male            No      No        Yes
6     8779-QRDMV   Male           Yes      No         No
7     1066-JKSGK   Male            No      No         No
8     6467-CHFZW   Male            No     Yes        Yes
9     8665-UTDHZ   Male            No     Yes         No
11    6047-YHPVI   Male            No      No        Yes
12    5380-WJKOV   Male            No      No        Yes
17    1658-BYGOY   Male           Yes      No        Yes
22    0278-YXOOG   Male            No      No         No
24    3192-NQECA   Male            No     Yes         No
25    0486-HECZI   Male            No     Yes        Yes
28    0404-SWRVG   Male            No      No        Yes
31    3091-FYHKI   Male            No      No         No
32    2372-HWUHI   Male            No      No         No
35    2135-RXIHG   Male            No      No         No
36    3874-EQOEP   Male            No      No        Yes
39    3445-HXXGF   Male           Yes     Yes         No
45    9367-WXLCH   Male            No      No        Yes
48    2472-OVKUP   Male            No     Yes        Yes
49    1285-OKIPP   Male            No      No        Yes
51    7841-TZDMQ   Male            No      No         No
53    0742-MOABM   Male            No     Yes         No
55    8937-RDTHP   Male            No      No        Yes
56    1251-KRREG   Male            No      No         No
58    9947-OTFQU   Male           Yes      No         No
59    0322-YINQP   Male            No      No         No
61    9514-JDSKI   Male           Yes     Yes         No
63    7273-TEFQD   Male           Yes      No         No
64    3606-TWKGI   Male           Yes      No         No
...          ...    ...           ...     ...        ...
6975  2898-MRKPI   Male            No     Yes        Yes
6977  3648-GZPHF   Male            No     Yes        Yes
6979  9588-YRFHY   Male            No      No         No
6980  9364-YKUVW   Male            No      No         No
6982  2451-YMUXS   Male           Yes      No         No
6983  3914-FDRHP   Male            No      No         No
6987  9547-ITEFG   Male            No     Yes        Yes
6990  6598-KELSS   Male            No      No        Yes
6995  2843-CQMEG   Male            No      No         No
6997  5351-QESIO   Male            No      No        Yes
7001  6447-GORXK   Male            No      No        Yes
7002  6967-PEJLL   Male            No     Yes        Yes
7006  0376-OIWME   Male            No     Yes         No
7007  0218-QNVAS   Male            No     Yes        Yes
7009  7164-BPTUT   Male            No      No        Yes
7014  4501-VCPFK   Male            No      No         No
7015  6075-SLNIL   Male            No      No         No
7016  9347-AERRL   Male            No     Yes         No
7017  2274-XUATA   Male           Yes     Yes         No
7020  9053-EJUNL   Male            No      No         No
7021  0666-UXTJO   Male           Yes     Yes         No
7025  9837-FWLCH   Male            No     Yes        Yes
7026  7203-OYKCT   Male            No      No         No
7028  7398-LXGYX   Male            No     Yes         No
7030  0550-DCXLH   Male            No      No         No
7034  3605-JISKB   Male           Yes     Yes         No
7035  9767-FFLEM   Male            No      No         No
7036  8456-QDAVC   Male            No      No         No
7039  6840-RESVB   Male            No     Yes        Yes
7042  3186-AJIEK   Male            No      No         No

[3555 rows x 5 columns]

In [35]:
churn_all = pd.concat(dfs_to_join, join="inner", axis=1)

In [36]:
churn_all = churn_all.loc[:, ~churn_all.columns.duplicated()]

In [37]:
churn_all.head()

,CustomerID,Gender,SeniorCitizen,Partner,Dependents,State,Latitude,Longitude,ZipCode,PhoneService,...,TechSupport,StreamingTV,StreamingMovies,Tenure,Contract,PaymentMethod,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,3668-QPYBK,Male,No,No,No,California,33.964131,-118.272783,90003,Yes,...,No,No,No,2,Month-to-month,Mailed check,Yes,53.85,108.15,Yes
1,9237-HQITU,Female,No,No,Yes,California,34.059281,-118.307420,90005,Yes,...,No,No,No,2,Month-to-month,Electronic check,Yes,70.70,151.65,Yes
2,9305-CDSKC,Female,No,No,Yes,California,34.048013,-118.293953,90006,Yes,...,No,Yes,Yes,8,Month-to-month,Electronic check,Yes,99.65,820.5,Yes
3,7892-POOKP,Female,No,Yes,Yes,California,34.062125,-118.315709,90010,Yes,...,Yes,Yes,Yes,28,Month-to-month,Electronic check,Yes,104.80,3046.05,Yes
4,0280-XJGEX,Male,No,No,Yes,California,34.039224,-118.266293,90015,Yes,...,No,Yes,Yes,49,Month-to-month,Bank transfer (automatic),Yes,103.70,5036.3,Yes

In [38]:
churn_all.dtypes

CustomerID           object
Gender               object
SeniorCitizen        object
Partner              object
Dependents           object
State                object
Latitude            float64
Longitude           float64
ZipCode               int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Tenure                int64
Contract             object
PaymentMethod        object
PaperlessBilling     object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [39]:
churn_all["TotalCharges"] = pd.to_numeric(churn_all["TotalCharges"], errors="coerce")

In [40]:
churn_all.dtypes

CustomerID           object
Gender               object
SeniorCitizen        object
Partner              object
Dependents           object
State                object
Latitude            float64
Longitude           float64
ZipCode               int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Tenure                int64
Contract             object
PaymentMethod        object
PaperlessBilling     object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [41]:
# Missing values
churn_all.isnull().sum(axis=0)

CustomerID           0
Gender               0
SeniorCitizen        0
Partner              0
Dependents           0
State                0
Latitude             0
Longitude            0
ZipCode              0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Tenure               0
Contract             0
PaymentMethod        0
PaperlessBilling     0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [42]:
#Â Drop the missing values
churn_all = churn_all.dropna()

In [43]:
churn_all.isnull().sum(axis=0)

CustomerID          0
Gender              0
SeniorCitizen       0
Partner             0
Dependents          0
State               0
Latitude            0
Longitude           0
ZipCode             0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Tenure              0
Contract            0
PaymentMethod       0
PaperlessBilling    0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [44]:
churn_all.dtypes

CustomerID           object
Gender               object
SeniorCitizen        object
Partner              object
Dependents           object
State                object
Latitude            float64
Longitude           float64
ZipCode               int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Tenure                int64
Contract             object
PaymentMethod        object
PaperlessBilling     object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [45]:
churn_all.to_sql("churn_all", conn, if_exists="replace", index=False)

In [46]:
cur.execute("PRAGMA table_info('churn_all')").fetchall()

[(0, 'CustomerID', 'TEXT', 0, None, 0),
 (1, 'Gender', 'TEXT', 0, None, 0),
 (2, 'SeniorCitizen', 'TEXT', 0, None, 0),
 (3, 'Partner', 'TEXT', 0, None, 0),
 (4, 'Dependents', 'TEXT', 0, None, 0),
 (5, 'State', 'TEXT', 0, None, 0),
 (6, 'Latitude', 'REAL', 0, None, 0),
 (7, 'Longitude', 'REAL', 0, None, 0),
 (8, 'ZipCode', 'INTEGER', 0, None, 0),
 (9, 'PhoneService', 'TEXT', 0, None, 0),
 (10, 'MultipleLines', 'TEXT', 0, None, 0),
 (11, 'InternetService', 'TEXT', 0, None, 0),
 (12, 'OnlineSecurity', 'TEXT', 0, None, 0),
 (13, 'OnlineBackup', 'TEXT', 0, None, 0),
 (14, 'DeviceProtection', 'TEXT', 0, None, 0),
 (15, 'TechSupport', 'TEXT', 0, None, 0),
 (16, 'StreamingTV', 'TEXT', 0, None, 0),
 (17, 'StreamingMovies', 'TEXT', 0, None, 0),
 (18, 'Tenure', 'INTEGER', 0, None, 0),
 (19, 'Contract', 'TEXT', 0, None, 0),
 (20, 'PaymentMethod', 'TEXT', 0, None, 0),
 (21, 'PaperlessBilling', 'TEXT', 0, None, 0),
 (22, 'MonthlyCharges', 'REAL', 0, None, 0),
 (23, 'TotalCharges', 'REAL', 0, None, 0),
 (24, 'Churn', 'TEXT', 0, None, 0)]

In [47]:
pd.read_sql("select * from churn_all", conn)

,CustomerID,Gender,SeniorCitizen,Partner,Dependents,State,Latitude,Longitude,ZipCode,PhoneService,...,TechSupport,StreamingTV,StreamingMovies,Tenure,Contract,PaymentMethod,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,3668-QPYBK,Male,No,No,No,California,33.964131,-118.272783,90003,Yes,...,No,No,No,2,Month-to-month,Mailed check,Yes,53.85,108.15,Yes
1,9237-HQITU,Female,No,No,Yes,California,34.059281,-118.307420,90005,Yes,...,No,No,No,2,Month-to-month,Electronic check,Yes,70.70,151.65,Yes
2,9305-CDSKC,Female,No,No,Yes,California,34.048013,-118.293953,90006,Yes,...,No,Yes,Yes,8,Month-to-month,Electronic check,Yes,99.65,820.50,Yes
3,7892-POOKP,Female,No,Yes,Yes,California,34.062125,-118.315709,90010,Yes,...,Yes,Yes,Yes,28,Month-to-month,Electronic check,Yes,104.80,3046.05,Yes
4,0280-XJGEX,Male,No,No,Yes,California,34.039224,-118.266293,90015,Yes,...,No,Yes,Yes,49,Month-to-month,Bank transfer (automatic),Yes,103.70,5036.30,Yes
5,4190-MFLUW,Female,No,Yes,No,California,34.066367,-118.309868,90020,Yes,...,Yes,No,No,10,Month-to-month,Credit card (automatic),No,55.20,528.35,Yes
6,8779-QRDMV,Male,Yes,No,No,California,34.023810,-118.156582,90022,No,...,No,No,Yes,1,Month-to-month,Electronic check,Yes,39.65,39.65,Yes
7,1066-JKSGK,Male,No,No,No,California,34.066303,-118.435479,90024,Yes,...,No internet service,No internet service,No internet service,1,Month-to-month,Mailed check,No,20.15,20.15,Yes
8,6467-CHFZW,Male,No,Yes,Yes,California,34.099869,-118.326843,90028,Yes,...,No,Yes,Yes,47,Month-to-month,Electronic check,Yes,99.35,4749.15,Yes
9,8665-UTDHZ,Male,No,Yes,No,California,34.089953,-118.294824,90029,No,...,No,No,No,1,Month-to-month,Electronic check,No,30.20,30.20,Yes
10,8773-HHUOZ,Female,No,No,No,California,34.078821,-118.177576,90032,Yes,...,No,Yes,Yes,17,Month-to-month,Mailed check,Yes,64.70,1093.10,Yes
11,6047-YHPVI,Male,No,No,Yes,California,34.110845,-118.259595,90039,Yes,...,No,No,No,5,Month-to-month,Electronic check,Yes,69.70,316.90,Yes
12,5380-WJKOV,Male,No,No,Yes,California,34.137412,-118.207607,90041,Yes,...,No,Yes,Yes,34,Month-to-month,Electronic check,Yes,106.35,3549.25,Yes
13,8168-UQWWF,Female,No,No,Yes,California,34.115720,-118.192754,90042,Yes,...,No,Yes,Yes,11,Month-to-month,Bank transfer (automatic),Yes,97.85,1105.40,Yes
14,7760-OYPDY,Female,No,No,Yes,California,33.987945,-118.370442,90056,Yes,...,No,Yes,No,2,Month-to-month,Electronic check,Yes,80.65,144.15,Yes
15,9420-LOJKX,Female,No,No,Yes,California,33.921280,-118.274186,90061,Yes,...,No,Yes,Yes,15,Month-to-month,Credit card (automatic),Yes,99.10,1426.40,Yes
16,7495-OOKFY,Female,Yes,Yes,Yes,California,34.044271,-118.185237,90063,Yes,...,No,No,No,8,Month-to-month,Credit card (automatic),Yes,80.65,633.30,Yes
17,1658-BYGOY,Male,Yes,No,Yes,California,34.108833,-118.229715,90065,Yes,...,No,Yes,Yes,18,Month-to-month,Electronic check,Yes,95.45,1752.55,Yes
18,5698-BQJOH,Female,No,No,Yes,California,34.063947,-118.383001,90211,Yes,...,No,Yes,Yes,9,Month-to-month,Electronic check,No,94.40,857.25,Yes
19,5919-TMRGD,Female,No,No,Yes,California,33.978030,-118.217141,90255,Yes,...,No,Yes,No,1,Month-to-month,Electronic check,Yes,79.35,79.35,Yes
20,9191-MYQKX,Female,No,Yes,Yes,California,33.923573,-118.200669,90262,Yes,...,No,No,No,7,Month-to-month,Bank transfer (automatic),Yes,75.15,496.90,Yes
21,8637-XJIVR,Female,No,No,Yes,California,33.977468,-118.445475,90292,Yes,...,No,No,No,12,Month-to-month,Electronic check,Yes,78.95,927.35,Yes
22,0278-YXOOG,Male,No,No,No,California,33.956445,-118.358634,90301,Yes,...,No internet service,No internet service,No internet service,5,Month-to-month,Mailed check,No,21.05,113.85,Yes
23,4598-XLKNJ,Female,Yes,Yes,Yes,California,33.936291,-118.332639,90303,Yes,...,No,Yes,Yes,25,Month-to-month,Electronic check,Yes,98.50,2514.50,Yes
24,3192-NQECA,Male,No,Yes,No,California,34.031529,-118.491156,90403,Yes,...,Yes,Yes,Yes,68,Two year,Bank transfer (automatic),Yes,110.00,7611.85,Yes
25,0486-HECZI,Male,No,Yes,Yes,California,33.867257,-118.330794,90504,Yes,...,No,Yes,No,55,Month-to-month,Electronic check,Yes,96.75,5238.90,Yes
26,4846-WHAFZ,Female,Yes,Yes,Yes,California,33.972119,-118.020188,90602,Yes,...,No,No,No,37,Month-to-month,Electronic check,Yes,76.50,2868.15,Yes
27,5299-RULOA,Female,No,Yes,Yes,California,33.976678,-118.065875,90606,Yes,...,No,Yes,Yes,10,Month-to-month,Electronic check,Yes,100.25,1064.65,Yes
28,0404-SWRVG,Male,No,No,Yes,California,33.940619,-117.951300,90631,Yes,...,No,No,No,3,Month-to-month,Electronic check,Yes,74.40,229.55,Yes
29,4412-YLTKF,Female,Yes,No,Yes,California,33.989524,-118.089299,90660,Yes,...,No,No,No,27,Month-to-month,Electronic check,Yes,78.05,2135.50,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7002,9586-JGQKH,Female,No,Yes,No,California,33.829583,-116.474131,92234,Yes,...,Yes,Yes,Yes,64,Two year,Bank transfer (automatic),Yes,105.40,6794.75,No
7003,4501-VCPFK,Male,No,No,No,California,33.680031,-116.171678,92236,No,...,Yes,No,No,26,Month-to-month,Electronic check,No,35.75,1022.50,No
7004,6075-SLNIL,Male,No,No,No,California,33.889605,-115.257009,92239,Yes,...,No,No,Yes,38,Month-to-month,Credit card (automatic),Yes,95.10,3691.20,No
7005,9347-AERRL,Male,No,Yes,No,California,33.948558,-116.516976,92240,Yes,...,No internet service,No internet service,No internet service,23,One year,Credit card (automatic),No,19.30,486.20,No
7006,2274-XUATA,Male,Yes,Yes,No,California,34.137742,-114.365140,92242,No,...,Yes,Yes,Yes,72,Two year,Bank transfer (automatic),Yes,63.10,4685.55,No
7007,6691-CCIHA,Female,No,Yes,No,California,34.167236,-116.281511,92252,Yes,...,Yes,Yes,Yes,62,Two year,Electronic check,Yes,84.95,5150.55,No
7008,1685-BQULA,Female,No,No,No,California,33.695532,-116.310571,92253,Yes,...,No,Yes,No,40,Month-to-month,Bank transfer (automatic),Yes,93.40,3756.40,No
7009,9053-EJUNL,Male,No,No,No,California,33.543835,-115.993906,92254,Yes,...,No,Yes,No,41,Month-to-month,Electronic check,Yes,89.20,3645.75,No
7010,0666-UXTJO,Male,Yes,Yes,No,California,34.097863,-116.594561,92256,Yes,...,No,Yes,No,34,Month-to-month,Credit card (automatic),Yes,85.20,2874.45,No
7011,1471-GIQKQ,Female,No,No,No,California,33.345825,-115.596574,92257,Yes,...,No,No,No,1,Month-to-month,Electronic check,No,49.95,49.95,No
7012,4807-IZYOZ,Female,No,No,No,California,33.906496,-116.569499,92258,Yes,...,No internet service,No internet service,No internet service,51,Two year,Bank transfer (automatic),No,20.65,1020.75,No
7013,9710-NJERN,Female,No,No,No,California,33.694501,-116.412711,92260,Yes,...,No internet service,No internet service,No internet service,39,Two year,Mailed check,No,20.15,826.00,No
7014,9837-FWLCH,Male,No,Yes,Yes,California,33.839989,-116.659215,92262,Yes,...,No internet service,No internet service,No internet service,12,Month-to-month,Electronic check,Yes,19.20,239.00,No
7015,7203-OYKCT,Male,No,No,No,California,33.324900,-114.758334,92266,Yes,...,No,Yes,Yes,72,One year,Electronic check,Yes,104.95,7544.30,No
7016,1035-IPQPU,Female,Yes,Yes,No,California,34.273872,-114.192901,92267,Yes,...,No,Yes,Yes,63,Month-to-month,Electronic check,Yes,103.50,6479.40,No
7017,7398-LXGYX,Male,No,Yes,No,California,34.201108,-116.593456,92268,Yes,...,No,No,No,44,Month-to-month,Credit card (automatic),Yes,84.80,3626.35,No
7018,2823-LKABH,Female,No,No,No,California,33.763678,-116.429928,92270,Yes,...,Yes,No,Yes,18,Month-to-month,Bank transfer (automatic),Yes,95.05,1679.40,No
7019,0550-DCXLH,Male,No,No,No,California,33.536040,-116.119222,92274,Yes,...,Yes,Yes,Yes,13,Month-to-month,Mailed check,No,73.35,931.55,No
7020,9281-CEDRU,Female,No,Yes,No,California,33.281560,-115.955541,92275,Yes,...,Yes,Yes,No,68,Two year,Bank transfer (automatic),No,64.10,4326.25,No
7021,2235-DWLJU,Female,Yes,No,No,California,33.849263,-116.382778,92276,No,...,No,Yes,Yes,6,Month-to-month,Electronic check,Yes,44.40,263.05,No
7022,0871-OPBXW,Female,No,No,No,California,34.172110,-115.769773,92277,Yes,...,No internet service,No internet service,No internet service,2,Month-to-month,Mailed check,Yes,20.05,39.25,No
7023,3605-JISKB,Male,Yes,Yes,No,California,34.457829,-116.139589,92278,Yes,...,No,No,No,55,One year,Credit card (automatic),No,60.00,3316.10,No
7024,9767-FFLEM,Male,No,No,No,California,33.036790,-115.605030,92281,Yes,...,No,No,No,38,Month-to-month,Credit card (automatic),Yes,69.50,2625.25,No
7025,8456-QDAVC,Male,No,No,No,California,32.852947,-114.850784,92283,Yes,...,No,Yes,No,19,Month-to-month,Bank transfer (automatic),Yes,78.70,1495.10,No
7026,7750-EYXWZ,Female,No,No,No,California,34.159534,-116.425984,92284,No,...,Yes,Yes,Yes,12,One year,Electronic check,No,60.65,743.30,No
7027,2569-WGERO,Female,No,No,No,California,34.341737,-116.539416,92285,Yes,...,No internet service,No internet service,No internet service,72,Two year,Bank transfer (automatic),Yes,21.15,1419.40,No
7028,6840-RESVB,Male,No,Yes,Yes,California,34.667815,-117.536183,92301,Yes,...,Yes,Yes,Yes,24,One year,Mailed check,Yes,84.80,1990.50,No
7029,2234-XADUH,Female,No,Yes,Yes,California,34.559882,-115.637164,92304,Yes,...,No,Yes,Yes,72,One year,Credit card (automatic),Yes,103.20,7362.90,No
7030,4801-JZAZL,Female,No,Yes,Yes,California,34.167800,-116.864330,92305,No,...,No,No,No,11,Month-to-month,Electronic check,Yes,29.60,346.45,No
7031,3186-AJIEK,Male,No,No,No,California,34.424926,-117.184503,92308,Yes,...,Yes,Yes,Yes,66,Two year,Bank transfer (automatic),Yes,105.65,6844.50,No

## See all tables

In [48]:
cur.execute("select name from sqlite_master where type='table'")
cur.fetchall()

[('customer',),
 ('cust_loc',),
 ('cust_services',),
 ('cust_account',),
 ('cust_churn',),
 ('churn_all',)]